// begin navigation 
nav.navigation
    .container.navigation__container
        ul.navigation__list
            li.navigation__item
                button.navigation__link.nav-button
                    img(src="img/header/burger.svg", alt="Burger icon").burger
                    |  Каталог
                // begin subnav 
                .subnav
                    // begin tabs 
                    .tabs
                        .tabs__item Печатная продукция
                        .tabs__item Сувенирная продукция

                    .tabs__wrapper
                        .tabs__content
                        .tabs__content
                            // begin subnav-list 
                            ul.subnav-list
                                li.subnav-list__item
                                    h5.subnav-list__heading Сувениры к праздникам:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/confetti.svg", alt="confetti")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки к 14 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки к 23 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки к 8 марта
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на день строителя
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на день металлурга
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День шахтера
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День знаний
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки ко Дню нефтяника
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День учителя
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарок коллеге
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки начальнику
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на юбилей компании
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки военным
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки морякам
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки автомобилисту
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки банковскому работнику
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки ко Дню энергетика
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на 14 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сувениры к 23 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сувениры к 8 марта
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День геолога
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День Победы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки детям
                                li.subnav-list__item
                                    h5.subnav-list__heading Флешки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/flash-drive.svg", alt="flash-drive")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Оригинальные флешки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Металлические флешки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пластиковые флешки
                                li.subnav-list__item
                                    h5.subnav-list__heading Промо:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/lighter.svg", alt="lighter")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Светоотражатели
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Антистрессы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Брелки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Металлические брелки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зажигалки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зеркала
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Промопродукция
                                li.subnav-list__item
                                    h5.subnav-list__heading Одежда:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/jacket.svg", alt="jacket")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Вертровки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Куртки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Толстовки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Шарфы, шапки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Трикотажные шапки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кепки и бейсболки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Жилеты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Офисные рубашки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Джемперы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Спортивная одежда
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Аксессуары
                                li.subnav-list__item
                                    h5.subnav-list__heading Дом:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/house.svg", alt="house")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Косметическая продукция
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Интерьерные подарки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Вазы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Шкатулки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Фоторамки и фотоальбомы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Инструменты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кухонные приспособления
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Текстиль для кухни и ванной
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы для ухода за обувью
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Игрушки
                            // end subnav-list 
                    // end tabs 
                // end subnav 
            li.navigation__item
                a(href="#").navigation__link Новости и акции
            li.navigation__item
                a(href="#").navigation__link Требования к макетам
            li.navigation__item
                a(href="#").navigation__link Портфолио
            li.navigation__item
                a(href="#").navigation__link 
                    |Услуги
                    i.fas.fa-angle-down
                // begin dropdown 
                .dropdown
                    .dropdown__wrapper
                        .dropdown__col
                            ul.dropdown__list
                                li.dropdown__item
                                    a(href="#").dropdown__link Цифровая оперативная печать
                                li.dropdown__item
                                    a(href="#").dropdown__link Все виды постпечатной
                                        br
                                        |  обработки тиражей:
                        .dropdown__col
                            ul.dropdown__list
                                li.dropdown__item
                                    a.dropdown__link(href="#") Широкоформатная печать
                                li.dropdown__item
                                    a.dropdown__link(href="#") Шелкотрафаретная печать
                                li.dropdown__item
                                    a.dropdown__link(href="#") Термоперенос на одежду и ткань
                                li.dropdown__item
                                    a.dropdown__link(href="#") Обрамление в профиль
                                li.dropdown__item
                                    a.dropdown__link(href="#") Тиснение
                                li.dropdown__item
                                    a.dropdown__link(href="#") Вырубка
                                li.dropdown__item
                                    a.dropdown__link(href="#") Накат на основу, пвх-пластик и пенокартон
                                li.dropdown__item
                                    a.dropdown__link(href="#") Лазерная гравировка
                        .dropdown__col
                            ul.dropdown__list
                                li.dropdown__item
                                    a.dropdown__link(href="#") Офсетная печать
                                li.dropdown__item
                                    a.dropdown__link(href="#") Тампопечать
                                li.dropdown__item
                                    a.dropdown__link(href="#") Плоттерная резка
                                li.dropdown__item
                                    a.dropdown__link(href="#") Круговая печать на сувенирах
                                li.dropdown__item
                                    a.dropdown__link(href="#") Конгрев
                                li.dropdown__item
                                    a.dropdown__link(href="#") УФ-лакировка
                                li.dropdown__item
                                    a.dropdown__link(href="#") УФ-печать
                                li.dropdown__item
                                    a.dropdown__link(href="#") Закатные значки
                // end dropdown 
            li.navigation__item
                a(href="#").navigation__link Штампы
            li.navigation__item
                a(href="#").navigation__link WOW-эффекты
        
        .navigation-search
            button.navigation-search__button

            form.navigation-search__form
                input(type="text" required="required" placeholder="Пример:печать визиток").navigation-search__form-input
                button(type="button")
                    i.fas.fa-search 
    
// end navigation 