// begin production 
section.production
    .container
        
        .tabs
            .tabs__item.production-tab Печатная продукция
            .tabs__item.production-tab Сувенирная продукция

        .tabs__wrapper
            .production-content

                ul.prods
                    li.product
                        a(href="#").product__body
                            h5.headline Широкоформатная печать 
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/1.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/1-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Наклейки и стикеры
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/2.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/2-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Визитки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/3.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/3-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Блокноты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/4.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/4-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline POS-материалы
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/5.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/5-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Конверты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/6.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/6-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Календари 2018
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/7.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/7-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Пакеты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/8.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/8-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Упаковка
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/9.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/9-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Папки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/10.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/10-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline К мероприятию
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/11.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/11-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Многополосная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/12.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/12-white.png", alt="White production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Листовая продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/13.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/13-white.png", alt="White production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Таблички
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/14.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/14-white.png", alt="White production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Наградная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/15.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/15-white.png", alt="White production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Прочная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/16.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/16-white.png", alt="White production image")

            .production-content

                ul.prods
                    li.product
                        a(href="#").product__body
                            h5.headline Широкоформатная печать 
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/1.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/1-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Наклейки и стикеры
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/2.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/2-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Визитки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/3.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/3-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Блокноты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/4.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/4-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline POS-материалы
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/5.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/5-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Конверты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/6.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/6-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Календари 2018
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/7.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/7-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Пакеты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/8.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/8-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Упаковка
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/9.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/9-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Папки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/10.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/10-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline К мероприятию
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/11.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/11-white.png", alt="White production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Многополосная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/12.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/12-white.png", alt="White production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Листовая продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/13.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/13-white.png", alt="White production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Таблички
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/14.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/14-white.png", alt="White production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Наградная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/15.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/15-white.png", alt="White production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Прочная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/16.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/16-white.png", alt="White production image")

        .production__button
            button(type="button").button.load-button Загрузить еще
        
// end production 